:root {
    /* Colors */
    --white: #fff;
    --grey: #282c34;
    --aqua: #61dafb;

    /* Font styles */
    --primary: Arial, Helvetica, sans-serif;
    --secondary: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

    /* Font sizes */
    --normal: 20px;
    --small: 14px;
}